<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>Flask + ECharts Demo</title>
    <!-- 引入 echarts.js -->
    <script src='https://cdn.bootcss.com/echarts/3.4.0/echarts.js'></script>
    <script src='/static/js/china.js'></script>
    <script src='/static/js/macarons.js'></script>
</head>
<style>
    body{font: 16px; background: antiquewhite;}
    *{ margin: 0px; padding: 0px;}
    div{ width: 800px; margin: 0px auto;}
    ul{ list-style: none;}
    li{width: 200px; float: left; text-align: center; line-height: 30px;}
    li a{color: black;text-decoration: none;}
    li a:hover{color: aqua; text-decoration: underline;}
</style>
<body>
<div>
    <ul>
        <li><a href="/_type"> 饼状图</a></li>
        <li><a href="/_china"> GIS地图</a></li>
        <li><a href="/_break"> 柱状图</a></li>
        <li><a href="/_all"> 总图</a></li>
    </ul>
</div>
<table width="1880px" height="960px">
    <tr height="100%">
        <td width="100%" colspan="2">
            <div id='line' style='width: 100%; height: 100%; float: left;'></div>
        </td>
    </tr>
</table>

<script type='text/javascript'>
    var line = echarts.init(document.getElementById('line'));
    option = {
        backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
        title: {
            text: '案发趋势图',
            subtext: '折线图展示',
            left: 'left'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:{{ data['type_list'] | safe }}
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: {{ data['time_list']  | safe }}
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 件'
                }
            }
        ],
        series: [
            {% for tag in data['type_list'] %}
                {
                    name: '{{ tag['name'] | safe }}',
                    type: 'line',
                    stack: '总量',
                    <!-- areaStyle: {normal: {}}, -->
                    {# loop.index0 : 循环迭代计数（从0开始） #}
                    data: {{ data['tag_time_list'][loop.index0] }},
                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                },
            {% endfor %}
        ]
    };
    line.setOption(option);
</script>

</body>
</html>